@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?f5jw6y');
    src:  url('fonts/icomoon.eot?f5jw6y#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?f5jw6y') format('truetype'),
      url('fonts/icomoon.woff?f5jw6y') format('woff'),
      url('fonts/icomoon.svg?f5jw6y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}